/* ------------------------------------------------------------ *\
	btn
\* ------------------------------------------------------------ */

.btn {
	position: relative; 
	padding: 10px 10px; 
	min-width: 180px; 
	min-height: 40px; 
	border-radius: 100px;

	background-color: $red;

	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	vertical-align: middle;

	text-transform: none; 
	text-decoration: none;
	font-weight: 700; 
	font-size: 16px; 
	color: $white;

	cursor: pointer;
	appearance: none;
	transition: .3s ease-out;

	transform-style: preserve-3d;

	&:hover {
		background-color: rgba($red, .7); 
		text-shadow: 0 0 1px $black;
	}
}